<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
   
    <title>Suma</title>
   
</head>
<body>
    <div >
        <h1>Calculadora de Suma</h1>
        <form method="POST">
            <label> Ingrese el primer número:</label>
            <input type="number" name="numero1" required>

            <label> Ingrese el segundo número:</label>
            <input type="number" name="numero2" required>

            <button type="submit">Calcular suma</button>

        </form>
      
    
    </div>
    <p>El resultado de la suma es: {{ resultado }}</p>
</body>
</html>